<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
            <rules>
				<rule name="httpsredirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="http://{HTTP_HOST}/{R:1}" />
				</rule>
				<rule name="Redirect to non-www" stopProcessing="true">
					<match url="(.*)" negate="false"></match>
					<action type="Redirect" url="https://fxmanor.com/{R:1}"></action>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^fxmanor\.com$" negate="true"></add>
					</conditions>
				</rule>
            </rules>

        </rewrite>
</system.webServer>
</configuration>